extends base
- var current_title = page.title || tag.name || category.name || site.title

block title
  title= config.title
block content
  include _partial/list

  include _partial/paginator
  //if theme.disqus
  //    script(id='dsq-count-scr' src='//#{theme.disqus}.disqus.com/count.js' async)
