extends base
block title
  title= page.title || page.page_title + " | " + config.title
block content
  .post
    if !page.no_title
      h1.post__title= page.title
    .post__content.font__body
      != page.content
  if page.comments
    include _partial/comments
