.post-archive {
  font-size: 1em;
  line-height: 2;
  padding-bottom: 0.8em;

  h2 {
    margin: 0;
    font:
      bold 25px / 1.1 "ff-tisa-web-pro",
      Cambria,
      "Times New Roman",
      Georgia,
      Times,
      sans-serif;
  }

  .date {
    padding-right: 0.7em;
  }
}

.label-title {
  margin-top: 1.1em;
  font-size: 20px;
  font-weight: normal;
  color: #888;
}
