@use "colors";

code,
code *,
pre,
pre * {
  font-weight: 500;
  font-family: "ByakMono", "Input Mono", "PT Mono", Consolas, Monaco, Menlo, monospace !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
b,
strong,
em {
  code {
    font-weight: inherit;
    font-style: inherit;
  }
}

pre {
  margin: 0;
}

code {
  word-break: break-all;
  text-shadow: 0 1px colors.$bk-color;
  padding: 0 2px;
}

$hl-color: rgba(255, 255, 0, 0.4);
$hl-text-color: darken($hl-color, 60%);
$hl-bg-color: darken($hl-color, 20%);

.post-content {
  --blue-color: rgb(42, 192, 252);
  --green-color: rgb(194, 231, 196);
  --darkgreen-color: rgb(173, 192, 173);
  --red-color: hsl(0, 100%, 50%);

  code._hl-tag,
  code._hl-label {
    --color: hsl(59, 100%, 50%);
    color: #3b3a42;
    text-indent: 0;
    padding: 0 3px;
    display: inline-block;
    position: relative;

    text-decoration: underline;
    text-decoration-skip-ink: none;
    text-decoration-thickness: 5px;
    text-decoration-color: var(--color);
  }
}
