@use "./colors.scss";
@use "fonts";

#header {
  padding-top: 4em;
  position: relative;

  .site-name {
    text-align: center;

    #logo {
      font:
        bold 2.5em/1.12 "LifeSaver",
        sans-serif !important;
      color: colors.$text-color;

      display: inline-block;
      margin-bottom: 10px;

      &:hover {
        color: darken(colors.$text-color, 20%);
      }
    }

    .github-btn {
      margin: 20px 0;
    }
  }
}

.nav-menu {
  margin: 10px 0;
  padding: 0;
  position: relative;
  max-width: 100%;
  &:before {
    content: "";
    position: absolute;
    height: 1px;
    bottom: 0;
    left: 0;
    right: 0;
    border: 0 solid #ddd;
    border-bottom-width: 1px;
    z-index: -1;
  }
}

.nav-menu__container {
  max-width: 100%;
  flex-wrap: nowrap;
  overflow-x: auto;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  position: relative;
}

a.nav-menu__item {
  display: inline-block;
  padding: 0.8em 1.2em;
  font-size: 0.8em;
  color: colors.$text-color;
  border: 1px solid transparent;
  position: relative;

  &:hover,
  &:active,
  &:focus {
    border-bottom-color: colors.$text-color;
    color: colors.$text-color;
  }

  &.current {
    border-color: #ddd;
    border-bottom-color: colors.$bk-color;
  }

  span {
    margin-left: 0.5em;
  }
}
