@use "colors";

/* Code Highlight Color Scheme */

.highlight {
  color: #383a42;
  background: darken(colors.$bk-color, 0%);
}

pre .comment,
pre .quote {
  color: #a0a1a7;
  font-style: italic;
}

pre .doctag,
pre .keyword,
pre .formula {
  color: #a626a4;
}

pre .section,
pre .name,
pre .selector-tag,
pre .deletion,
pre .subst {
  color: #e45649;
}

pre .literal {
  color: #0184bb;
}

pre .string,
pre .regexp,
pre .addition,
pre .attribute,
pre .meta-string {
  color: #50a14f;
}

pre .attr,
pre .variable,
pre .template-variable,
pre .type,
pre .selector-class,
pre .selector-attr,
pre .selector-pseudo,
pre .number {
  color: #986801;
}

pre .symbol,
pre .bullet,
pre .link,
pre .meta,
pre .selector-id,
pre .title {
  color: #4078f2;
}

pre .built_in,
pre .title.class_,
pre .class pre .title {
  color: #c18401;
}

pre .emphasis {
  font-style: italic;
}

pre .strong {
  font-weight: bold;
}

pre .link {
  text-decoration: underline;
}
