@media print, screen and (max-width: 479px) {
  :root {
    // --font-scaling: 1.1;
  }
  #no-comment {
    padding: 15px 15px !important;
    font-size: 0.7em;
  }

  .post {
    blockquote {
      margin-left: -12px !important;
      margin-right: -12px !important;
    }
  }

  .gk-code {
    margin-left: -12px;
    margin-right: -12px;
  }

  .gk-unified-code {
    margin-left: -12px;
    margin-right: -12px;

    .gk-code {
      margin-left: 0;
      margin-right: 0;
    }
  }

  .mainContainer {
    padding: 12px;
  }

  #nav-menu {
    font-size: 0.7rem !important;
  }

  .links-wrapper {
    grid-template-columns: 1fr;
  }

  .links-description {
    max-height: unset;
  }
}
