@media print, screen and (max-width: 479px) {
  html,
  body {
    font-size: 17px !important;
  }
  #no-comment {
    padding: 15px 15px !important;
    font-size: 0.7em;
  }

  .content_container {
    padding-right: 0;
  }

  .post {
    .post-title {
      padding-top: 2em;
      text-align: center;
    }

    blockquote {
      &::before {
        left: -12px;
      }
      padding-left: 1em;
    }
  }

  .gk-code {
    margin-left: -12px;
    margin-right: -12px;

    .gk-code-display {
      &::-webkit-scrollbar {
        display: none;
      }
    }
  }

  .gk-unified-code {
    margin-left: -12px;
    margin-right: -12px;

    .gk-code {
      margin-left: 0;
      margin-right: 0;
    }
  }

  div.content_container {
    padding: 0 12px;
  }

  #nav-menu {
    font-size: 0.7rem !important;
  }

  .links-wrapper {
    grid-template-columns: 1fr;
  }

  .links-description {
    max-height: unset;
  }
}
