@use "sass:color";
@use "colors";

.page-navigator {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1em;
  padding-top: 1em;
  border-top: 1px solid #666;
}

.page__button {
  display: flex;
  cursor: pointer;
  color: color.invert(colors.$text-color);
  width: fit-content;
  font-size: 0.8em;
  padding: 0.5em 0.9em;
  border: 2px solid colors.$text-color;
  background: colors.$text-color;

  &[disabled] {
    visibility: hidden;
  }

  &:hover {
    color: colors.$text-color;
    background: color.invert(colors.$text-color);
  }
}
