@use "sass:color";
@use "fonts";
@use "colors";

.post__readmore {
  display: flex;
  justify-content: end;
  margin-top: 2em;
  margin-bottom: 0;
  cursor: pointer;

  color: color.invert(colors.$text-color);
  width: fit-content;
  font-size: 0.8em;
  padding: 0.5em 0.9em;
  border: 2px solid colors.$text-color;
  background: colors.$text-color;

  &:hover {
    color: colors.$text-color;
    background: color.invert(colors.$text-color);
  }
}
