@use "fonts";
@use "colors";

.post__readmore {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 2em;
  margin-bottom: 0;
  a {
    color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: fit-content;
    padding: 0.5em 0.9em;
    border: 1px solid colors.$text-color;
    background: colors.$text-color;

    &:hover {
      color: colors.$text-color;
      background: #eee;
    }

    span {
      align-self: flex-start;
      font-size: 0.8em;
    }
  }
}
