@use "./colors.scss";
@use "./fonts";
@use "./layout";

.aside__group {
  top: var(--nav-height);
  grid-column: left-most / right-most;
  grid-row: side-start / side-end;
  display: grid;
  top: var(--nav-height);
  position: sticky;
  max-height: calc(100vh - var(--nav-height));
  height: calc(100vh - var(--nav-height));
  grid-template-columns: 1fr minmax(0, calc(var(--base-font-size) * var(--font-scaling) * 50)) 1fr;
  grid-template-rows: min-content 1fr;
  grid-template-areas:
    "btn . right"
    "left . right";
  transition:
    left 0.5s,
    right 0.5s;
}

.aside__right {
  grid-area: right;
  justify-self: start;
  align-self: start;
  max-width: var(--aside-width);
  width: var(--aside-width);
  top: var(--nav-height);
  overflow-y: auto;
  max-height: 100%;
  transition:
    left 0.5s,
    right 0.5s;
}

.aside__left {
  grid-area: left;
  justify-self: end;
  align-self: start;
  max-height: 100%;
  width: 100%;
  padding-left: 1em;
  max-width: var(--aside-width);
  overflow-y: auto;

  background-color: #fff;
  transition:
    left 0.5s,
    right 0.5s;

  &::-webkit-scrollbar {
    display: none;
  }
}

.aside__btn {
  grid-area: btn;
  width: var(--aside-width);
  justify-self: end;
  padding-left: 1em;
}

.aside__menuList {
  display: grid;
  grid-template-columns: max-content 1fr;
}

.aside__menuList-item__icon {
  display: flex;
  align-items: center;
  justify-content: center;

  &:not(.current) {
    color: gray;
  }
}

.aside__menuList-item {
  display: block;
  padding: 0.75em;
  border-right: 3px solid transparent;
  font-size: 1.2em;
  color: gray;

  &.current,
  &:focus,
  &:hover,
  &:active {
    border-right-color: black;
    color: black;
  }
}

@include layout.on-middle-device {
  .aside__group {
    position: fixed;

    grid-template-columns: 1fr;
    grid-template-rows: min-content min-content min-content;
    grid-template-areas:
      "btn"
      "right"
      "left";
    overflow-y: auto;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  .aside__right,
  .aside__left {
    max-height: unset;
  }
}

@include layout.on-small-device {
  .aside__group {
    left: -100%;
    position: fixed;

    .aside-shown & {
      left: 0;
    }

    grid-template-columns: 1fr;
    grid-template-rows: min-content min-content min-content;
    grid-template-areas:
      "btn"
      "right"
      "left";
    overflow-y: auto;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  .aside__right,
  .aside__left {
    max-height: unset;
  }
}
