@use "fonts";
@use "colors";
@use "layout";
@use "sass:color";

#toc {
  position: relative;

  ol {
    list-style: none;
    padding: 0;
    padding-left: 1em;
    margin: 0;
    line-height: 1.5;
  }
  a {
    color: color.adjust(#69737d, $lightness: -10%);
    transition: all 0.5s;
    display: block;
    padding: 0.5em 0;
    position: relative;
    padding-right: 1em;
    border-right: 3px solid transparent;
  }
  a.active {
    color: black;
    border-right-color: black;
  }
  .toc-number {
    font-weight: bold;
  }
}

@include layout.on-middle-device {
  #toc {
    margin-bottom: 2em;

    &::after {
      content: " ";
      display: block;
      margin-top: 2em;
      --a: 90deg; /* control the angle */
      --s: 10px; /* size of the zig-zag */
      --b: 3px; /* control the thickness */

      background: #69737d;
      height: calc(var(--b) + var(--s) / (2 * tan(var(--a) / 2)));
      width: 100%;
      --_g: var(--s) repeat-x
        conic-gradient(
          from calc(var(--a) / -2) at bottom,
          #0000,
          #000 1deg calc(var(--a) - 1deg),
          #0000 var(--a)
        );
      mask:
        50% calc(-1 * var(--b)) / var(--_g) exclude,
        50% / var(--_g);
    }
  }
}
