@use "fonts";
@use "colors";

/* Styling the ruler to separate posts in list view */
.post > hr {
  line-height: 1em;
  position: relative;
  outline: 0;
  border: 0;
  color: black;
  text-align: center;
  height: 1.5em;
  opacity: 0.5;
  box-sizing: content-box;

  &:before {
    content: "";
    background: linear-gradient(to right, transparent, #818078, transparent);
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 1px;
  }

  &:after {
    content: "§";
    position: relative;
    display: inline-block;
    color: black;
    padding: 0 0.5em;
    line-height: 1.5em;
    color: #818078;
    background-color: colors.$bk-color;
  }
}

/* Styling the post title */

.post {
  .post-title {
    margin: 0;
    color: colors.$text-color;
    text-align: center;
    padding: 0;
    padding-top: 2em;
    font-weight: 500;
    font-size: 2.5em;

    @include fonts.set-font-ui-text;

    &.lang-zh {
      @include fonts.set-font-ui-text-lang-zh;
    }

    a {
      color: colors.$text-color;
      position: relative;
      border-bottom: 2px solid;
      border-bottom-color: transparent;

      @include fonts.set-font-ui-text;

      &:hover {
        border-bottom-color: colors.$text-color;
      }
    }
  }

  // Reduce padding-top for the first post
  &:first-child .post-title {
    border: none;
    padding: 0;
  }
}

/* Post Meta. Creation time, Category, ... */

.post .post-meta {
  padding: 0;
  margin: 12px 0 0;
  color: #999;
  text-align: center;
  text-indent: 0.15em;
  @include fonts.set-font-ui-text;

  a {
    @include fonts.set-font-ui-text;
  }
}

/* Basic styles for post-content */

.post {
  padding: 25px 0 15px;

  .post-content,
  .post-archive {
    clear: left;
    line-height: 1.6;
    color: colors.$text-color;

    -moz-hyphens: auto;
    -ms-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;

    code {
      display: inline;
      font-size: 0.9em;
    }

    .caption {
      display: none;
    }
  }
}

/* Styling font style/size/weight */

.post .post-content {
  @include fonts.set-font-body-text;
  &.lang-zh {
    @include fonts.set-font-body-text-lang-zh;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @include fonts.set-font-ui-text;
  }

  h1 {
    font-size: 1.8em;
    margin: 0.4em 0;
  }

  h2 {
    font-size: 1.35em;
    margin: 0.3em 0;
  }

  h3 {
    font-size: 1.25em;
    margin: 0.2em 0;
    // font-weight: normal;
  }

  h4 {
    font-size: 1.15em;
    margin: 0.15em 0;
    // font-weight: normal;
  }

  h5 {
    font-size: 1.1em;
    margin: 0.12em 0;
    // font-weight: normal;
  }

  h6 {
    font-size: 1.05em;
    margin: 0.1em 0;
    // font-weight: normal;
  }
}

/* Styling <h*> ::bofore */

.post {
  .post-content,
  .post-archive {
    $sharp-color: #e45649;
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      .perma-link {
        color: $sharp-color !important;
        opacity: 0.5;

        &:hover,
        &:active,
        &:focus {
          color: $sharp-color !important;
          border-bottom: none;
          opacity: 1;
        }
      }
    }

    h1 .perma-link {
      opacity: 0.9;
    }
  }
}

/* Adjust margins */

.post .post-content {
  margin-top: 1.5em;
  &:first-child {
    margin-top: 0;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    &:first-child {
      margin-top: 0;
    }

    + p {
      margin-top: 0;
    }
  }

  ul,
  ol,
  blockquote {
    margin: 0.5em 0 !important;
  }

  p {
    margin: 1.5em 0 0 0;
  }

  .littlefoot-footnote__content > p:first-child {
    margin-top: 0;
  }
}

/* Styling <a> */

.post {
  .post-content,
  .post-archive {
    a {
      color: darken(colors.$green, 7%) !important;
      word-break: break-all;

      &:hover,
      &:active {
        color: lighten(colors.$green, 3%) !important;
        border-bottom: 1px solid lighten(colors.$green, 3%);
      }
    }
  }
}

/* Styling <hr> */
.post .post-content hr {
  margin: 1.5em auto;
  border: none;
  border-top: 1px solid darken(#eee, 4%);
  position: relative;
}

/* Styling <img> */

.post .post-content img {
  max-width: 100%;
  padding: 0.5em 0;
  margin: auto;
  display: block;
}

/* Styling <ul>, <ol> */

.post .post-content {
  ul,
  ol {
    // padding: 0em 0 0 1em;
    margin: 0;
    overflow-y: hidden;
    overflow-x: auto;

    li p {
      text-indent: 0;
    }

    ul {
      margin: 0;
    }

    &:last-child {
      margin: 0;
    }
  }

  ul {
    list-style: none;
    padding-left: 1.5em;
    padding-right: 0;
    margin-left: 0;
    position: relative;

    li::before {
      content: "+";
      font-weight: 500;
      padding-left: 5px;
      position: absolute;
      left: 0;
    }
  }
}

/* Styling tables */

.post .post-content {
  // not the table in code highlight!
  > table {
    border-spacing: 0;
    border-collapse: collapse;

    margin-top: 0;
    max-width: 100%;
    margin: 0 auto;
    overflow: auto;

    th {
      font-weight: 600;
      background-color: darken(colors.$bk-color, 1%) !important;
    }
    td,
    th {
      padding: 6px 13px;
      border: 1px solid #dfe2e5;
    }
    tr {
      background-color: lighten(colors.$bk-color, 1%);
      border-top: 1px solid #c6cbd1;
      &:nth-child(2n) {
        background-color: #f6f8fa;
      }
    }
  }
}

/* Styling graphviz rendered diagrams */

.post .post-content {
  figure.graphviz {
    overflow-x: auto;
    text-align: center;
    padding-left: 0;
    padding-right: 0;
    margin: 0;
    margin-top: 0.5em;

    svg {
      display: block;
      * {
        font-weight: 700;
        font-family: "LifeSaver";
      }

      .bold {
        font-weight: 800;
        font-family: "LifeSaver";
      }
    }
  }
}

/* Styling the tags at the end of a post */

.post .tags {
  margin: 1em 0;

  @include fonts.set-font-ui-text();
  font-size: 0.9em;

  a {
    margin-right: 0.5em;

    &:before {
      content: "#";
      display: inline-block;
    }
  }
}

/* Styling CC section */

.post-content {
  .cc {
    b {
      font-weight: 600;
    }
    @include fonts.set-font-body-text;
  }
}
