$font-weights: (
  "Light": 300,
  "Regular": 400,
  "Medium": 500,
  "SemiBold": 600,
  "Bold": 700,
  "ExtraBold": 800,
);

$font-styles: (
  "Italic": "italic",
  "Normal": "normal",
);

@function font-file-suffix($sname, $wname) {
  @if $sname == "Normal" {
    @return $wname;
  }
  @if $wname == "Regular" {
    @return $sname;
  }
  @return "#{$wname}#{$sname}";
}

@mixin make-font($font-family, $font-path) {
  @each $wname, $wvalue in $font-weights {
    @each $sname, $svalue in $font-styles {
      $suffix: font-file-suffix($sname, $wname);
      @font-face {
        font-family: "#{$font-family}";
        src: url("#{$font-path}-#{$suffix}.ttf");
        font-weight: $wvalue;
        font-style: $svalue;
        font-display: swap;
      }
    }
  }
}

/* Generate Life-Saver Fonts */
@include make-font("LifeSaver", "../fonts/LifeSavers/slim.LifeSavers");

/* Generate Sans-Serif Fonts */
@include make-font(
  "OpenSans",
  "../fonts/Open_Sans/static/OpenSans/slim.OpenSans"
);

$font-sans-serif-fallback: "TIBch", "Classic Grotesque W01", "Segoe UI",
  "Helvetica Neue", Arial, "Hiragino Sans GB", "STHeiti", "Microsoft YaHei",
  "WenQuanYi Micro Hei", SimSun, sans-serif !important;

@mixin set-font-sans-serif {
  font-family: "OpenSans", $font-sans-serif-fallback;
}

/* Generate Serif Fonts */
@include make-font(
  "Literata",
  "../fonts/Literata/static/Literata/slim.Literata"
);

$font-serif-fallback: system-ui, Noto Sans, "AR PL Sungti", Songti, "Songti SC",
  "Hiragino Sans GB", "STHeiti", "WenQuanYi Zen Hei", "WenQuanYi Micro Hei",
  "Segoe UI", "Microsoft YaHei", SimSun, sans-serif !important;

@mixin set-font-serif {
  font-family: "Literata", $font-serif-fallback;
}

/* Generate Monospace Fonts */
@include make-font(
  "ByakMono",
  "../fonts/SourceCodePro/static/slim.SourceCodePro"
);
