$font-weights: (
  "Light": 300,
  "Regular": 400,
  "Medium": 500,
  "SemiBold": 600,
  "Bold": 700,
  "ExtraBold": 800,
);

$font-styles: (
  "Italic": "italic",
  "Normal": "normal",
);

@function font-file-suffix($sname, $wname) {
  @if $sname == "Normal" {
    @return $wname;
  }
  @if $wname == "Regular" {
    @return $sname;
  }
  @return "#{$wname}#{$sname}";
}

@mixin make-font($font-family, $font-path) {
  @each $wname, $wvalue in $font-weights {
    @each $sname, $svalue in $font-styles {
      $suffix: font-file-suffix($sname, $wname);
      @font-face {
        font-family: "#{$font-family}";
        src: url("#{$font-path}-#{$suffix}.ttf");
        font-weight: $wvalue;
        font-style: $svalue;
        font-display: swap;
      }
    }
  }
}

@import url("https://cdn.jsdelivr.net/npm/lxgw-wenkai-screen-webfont/1.7.0/lxgwwenkaiscreenr.css");

$LXGW: "LXGW Wenkai Screen R";

/* Generate Life-Saver Fonts */
@include make-font("LifeSaver", "../fonts/LifeSavers/slim.LifeSavers");

/* Generate Sans-Serif Fonts */

:root {
  --ui-text-font-fallback: Roboto, Helvetica, Tahoma, Arial, "PingFang SC", "Hiragino Sans GB",
    "Microsoft YaHei", "WenQuanYi Micro Hei", "Noto Sans CJK", sans-serif;
}

@font-face {
  font-family: "ByakSansSerif";
  src: url("../fonts/Josefin_Sans/slim.JosefinSans-VariableFont_wght.ttf")
    format("opentype-variations");
  font-display: swap;
  size-adjust: 110%;
  font-weight: 400 1000;
}

@mixin set-font-ui-text {
  font-family: "ByakSansSerif", $LXGW, var(--ui-text-font-fallback);
}

@mixin set-font-ui-text-lang-zh {
  font-family: $LXGW, var(--body-text-font-fallback);
}

/* Generate Serif Fonts */

:root {
  --body-text-font-fallback: Roboto, Helvetica, Tahoma, Arial, "PingFang SC", "Hiragino Sans GB",
    "Microsoft YaHei", "WenQuanYi Micro Hei", "Noto Sans CJK", sans-serif;
}

@font-face {
  font-family: "ByakSerif";
  src: url("../fonts/Eczar/slim.Eczar-VariableFont_wght.ttf") format("opentype-variations");
  font-display: swap;
  font-weight: 100 1000;
  font-synthesis: none;
}

@mixin set-font-body-text {
  font-family: "ByakSerif", $LXGW, var(--body-text-font-fallback);
  font-optical-sizing: none;
}

@mixin set-font-body-text-lang-zh {
  font-family: $LXGW, var(--body-text-font-fallback);
}

/* Generate Monospace Fonts */

@font-face {
  font-family: "ByakMono";
  src: url("../fonts/SourceCodePro/slim.SourceCodePro-VariableFont_wght.ttf");
  font-display: swap;
  font-weight: 100 1000;
  font-synthesis: none;
}

@font-face {
  font-family: "ByakMono";
  src: url("../fonts/SourceCodePro/slim.SourceCodePro-Italic-VariableFont_wght.ttf");
  font-display: swap;
  font-style: italic;
  font-weight: 100 1000;
  font-synthesis: none;
}
