{
    "root": true,
    "env": {
        "node": true
    },
    "globals": {
        "genko": true,
        "hexo": true
    },
    "plugins": [
        "prettier",
        "simple-import-sort"
    ],
    "extends": [
        "eslint:recommended",
        "plugin:prettier/recommended",
        "plugin:import/recommended"
    ],
    "settings": {
        "import/resolver": {
            "typescript": {
                "project": "./tsconfig.json"
            }
        }
    },
    "rules": {
        "import/no-named-as-default": 0,
        "simple-import-sort/imports": "error",
        "simple-import-sort/exports": "error",
        "import/order": "error"
    }
}