@use "./normalize.css";
// @use "./grids-responsive-min.css";
// @use "./pure-min.css";

@use "modules/fonts.scss";
@use "modules/colors.scss";

@use "../../node_modules/littlefoot/dist/littlefoot.css";
@use "./modules/gh-button.scss";

@use "modules/layout-rules.scss";
@use "modules/header.scss";
@use "modules/sidebar.scss";

@use "modules/typography.scss";
@use "modules/typography-blockquote.scss";
@use "modules/typography-custom.scss";

@use "modules/encrypted.scss";
@use "modules/page-previous-next.scss";

@use "modules/footer.scss";

@use "modules/archive.scss";

@use "modules/links.scss";

// @use "modules/rocket.scss";
@use "modules/readmore.scss";
@use "modules/code.scss";
@use "modules/post-next-previous.scss";
@use "modules/no-comment-box.scss";
@use "modules/toc.scss";
@use "modules/iconmoon.scss";
@use "modules/highlight.scss";
@use "modules/gk-code.scss";

@use "modules/media-lt-480px.scss";
@use "modules/media-lt-720px.scss";
@use "modules/media-lt-960px.scss";

* {
  box-sizing: border-box;
}

body {
  background-color: colors.$bk-color;
  color: colors.$text-color;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.post .post__content {
  $mjx: "mjx-container.MathJax";
  #{$mjx} {
    overflow-x: auto;
    overflow-y: hidden;
    min-width: unset !important;
    max-width: 100vw;

    a {
      color: colors.$text-color !important;
    }
  }
}

body,
html {
  overflow-x: clip;
  font-size: calc(var(--base-font-size) * var(--font-scaling));
}
.mainContainer {
  margin: 0 auto;
  grid-area: main;
  width: 100%;
  padding: 20px;
  scroll-margin-block-start: 4em;
  z-index: 1;
}

:root {
  --color-a-normal: colors.$text-color;
  --color-a-hover: colors.$green;
  --textdec-a-normal: none;
  --textdec-a-hover: underline;
  --base-font-size: 16.2px;
  --font-scaling: 1;
}

a {
  color: var(--color-a-normal);
  text-decoration: var(--textdec-a-normal);
  text-decoration-thickness: auto !important;
  transition: all 0.1s ease-in;
}

a:hover,
a:active,
a:focus {
  color: var(--color-a-hover);
  text-decoration: var(--textdec-a-hover);
  text-underline-offset: 0.2em;
}
